.bd-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	max-width: 296px;
	min-height: 100vh;
	h1 a {
		display: block;
		background-image: url("../images/logo-ANSWER.svg");
		width: 151px;
		height: 40px;
		text-indent: 101%;
		overflow: hidden;
		white-space: nowrap;
	}	
	.nav {
		&-link {
			padding: 12px 32px;
			position: relative;
			&.active,
			&:hover {
				color: $green;
			}
			&.active::before,
			&:hover::before {
				content: "";
				position: absolute;
				left: 0;
				width: 4px;
				height: 32px;
				border-left: 4px solid $green;
			}
		}
	}
}
.bd-main {
	margin-left: 295px;
}
.main-content {
	min-height: calc( 100vh - 104px );
}