<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title><%- title %></title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
		<!-- material icon -->
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
		<!-- all css -->
		<link rel="stylesheet" href="./assets/style/all.css">
	</head>

	<body>
		<div class="bd-sidebar bg-light py-6 d-flex flex-column justify-content-between">
			<nav class="nav flex-column">
				<h1 class="ps-6 mb-6"><a href="#"></a></h1>
				<ul class="list-unstyled mb-0">
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold" aria-current="page" href="#">
							<i class="material-icons me-3">assessment</i>Dashboard
						</a>
					</li>
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold" href="#">
							<i class="material-icons me-3">question_answer</i>Question
						</a>
					</li>
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold <%= current === 'index' && 'active' %>" href="index.html">
							<i class="material-icons me-3">assignment</i>Assignment
						</a>
					</li>
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold" href="#">
							<i class="material-icons me-3">video_library</i>Course
						</a>
					</li>
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold <%= current === 'admin' && 'active' %>" href="admin.html">
							<i class="material-icons me-3">supervisor_account</i>Admin
						</a>
					</li>
					<li>
						<a class="nav-link link-hover d-flex align-items-center fw-bold" href="#">
							<i class="material-icons me-3">settings</i>Settings
						</a>
					</li>
				</ul>
			</nav>
			<div class="user d-flex align-items-center ms-6 lh-1">
				<div class="rounded-circle overflow-hidden me-3">
					<a href="#"><img src="./assets/images/andychen.jpg" alt="Andy Chen"></a>
				</div>
				<div>
					<p class="fw-bold mb-1">Andy Chen</p>
					<p class="fs-7 text-secondary">andy0401@mail.com</p>
				</div>
			</div>
		</div>

		<main class="bd-main">
			<%- contents %>
		</main>

		<script src="./assets/js/vendors.js"></script>
		<script src="./assets/js/all.js"></script>
	</body>

</html>