/* 建立新class */
.u-ff-roboto {
	font-family: 'Roboto Mono', monospace;
}
.u-content-none::before,
.u-content-none::after {
	content: none;
}
/* 延續BS5的class規則 新增 */
.fs-7 {
	font-size: $spacer * 0.875;
}
.fs-8 {
	font-size: $spacer * 0.75;
}
.btn-hover,
.link-hover{
    &:hover{
        color: $success !important;
    }
}
/* 覆蓋BS5的class */
.nav-link {
	color: $gray-900;
}